* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hind Madurai, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  text-decoration: none;
  transition: 0.2s linear;
}
header {
  padding: 10px 20px;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
}

.imagelogo {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  right: -10px;
}

header .logo {
  position: relative;
  color: darkgreen;
  right: 26rem;
  font-size: 30px;
}

header .fa {
  display: none;
}

.navbar span {
  color: black;
}

.navbar a {
  font-size: 20px;
  padding-left: 15px;
  padding: 0 1.5rem;
}

#iconperson {
  font-size: 20px;
}

.navbar {
  display: flex;
}

.navbar a:hover {
  background-color: cyan;
}

.icons a:hover {
  color: yellowgreen;
}
header i {
  color: black;
}

.dark{
  color:black;
}
.dark .navbar span{
  color:white;
}

.first{
    background-image:linear-gradient(rgba(124, 84, 146, 0.7),rgba(4,9,30,0.7)), url("../images/sponges.jpg");
    background-position: center;
    background-size: cover;
    padding:0;
    width:100%; 
    height: 100vh;
    color: rgb(202, 201, 201);
    z-index: 1;
}
.first-content{
    padding: 5% 0;
}

.first .discover{
    display: flex;
    font-size: 3rem;
    margin-left: 5%;
    margin-top: 15%;
    opacity: 1;
}
.discover h3{

    color: transparent;
    -webkit-text-stroke: 2px rgb(211, 107, 168) ;
    margin-top: 1%;

}


.first a{
    color: rgb(202, 201, 201);
    font-weight: bold;
    display: inline-block;
    position: absolute;
    letter-spacing: 0.2rem;
    padding: 1% 1%;
    margin-left: 22%;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px solid rgb(211, 107, 168);
   
}


.first a:hover{
    background-color: rgba(255, 255, 255, 0.164);

}


.bubble{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(31, 164, 168, 0.192), rgba(196, 85, 172, 0.301));
    animation: rotate 5s linear 0s infinite forwards reverse;
    margin-left: 5%;
}

@keyframes rotate {
    from {
      transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
  }

  section{
    padding: 3rem;

  }
  
  .flex{
      display: flex;
  }

  
  .second h1{
      color: rgb(211, 107, 168);
      font-size: 2rem;
    
          

  }

 p{
     color: rgb(128, 127, 127);
     font-size: 1.5rem;
     margin-top: 5%;
    
 }


 .third h1{
    text-align: center;
    color: rgb(211, 107, 168);
    font-size: 2.5rem;

 }

.third a{
  margin-top: 2%;
  margin-left: 5%;
  padding: 2% 2%;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: rgb(226, 226, 226);
  border-radius: 100px;
}
.third a:hover{
  padding: 2.5% 2.5%;
  background-color: rgb(227, 203, 230);

  
}
h2{
  font-size: 3rem;
  color:rgb(85, 85, 85);
  text-transform: uppercase;

}



.images{
  width: 400px;
  height: 400px;
  margin-top: 5%;
  border-radius: 50%;
}

.right{
  text-align: right;
}


@media all and (max-width: 1000px){
  header .logo{
    right: 3.2rem;
  }
  .navbar {
    position: absolute;
    background: rgb(226, 212, 83);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -900px;
    text-align: left;
    display: grid;
    transition: 1s;
  }
  header .fa {
    display: block;
    color: black;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10%;
  }
   .first .discover {
     display: grid;
     
   }

   .discover .two {
     display: none;
   }
  
  .second h1,p {
    font-size: 1rem;
    max-width: 100%;
  }

  .second img{
    width: 100%;
    height: 60vh;
    margin-top: 5%;
  }


  .flex {
    display: grid;
  }

  h2{
    font-size: 1.7rem;

  }
  .right{
    text-align: left;
  }

  .images{
    width:200px;
    height: 200px;

  }
  
}



.foo {
  width: 100%;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 2rem 9%;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
}
.foo-row {
  display: flex;
}
.vert {
  margin-left: 7%;
}

.foo a {
  display: block;
  color: white;
  line-height: 2.5;
  font-size: 20px;
}
.foo a:hover {
  color: yellow;
}
.foo p {
  font-size: 28px;
}

#cont {
  color: #666;
}

#cont:before {
  content: " \00A9";
}
.icon a {
  margin: 10px;
  display: inline;
}
