* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

header {
    height: 5.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 1);

}

.dark .cont a:hover {
    color: white;
}

.dark .address {
    background-color: white;
    color: black;
}


.dark .topc pre {

    color: white;

    I
}

.dark {

    background-color: black;
    color: white;

}

.dark footer {

    background-color: gray;
}

.dark .foo a {
    color: white;
}

.imagelogo {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    right: -10px;

}

header .logo{
    position: relative;
    right: 27rem;
      color:darkgreen;
      padding-left: 5px;
      font-size: 25px;
    
    }
.navbar span {

    color: black;

}

.navbar a {

    font-size: 20px;
    padding-left: 15px;

}

.navbar {
    display: flex;
}


.navbar a:hover {
    background-color: cyan;
}


header i {
    color: black;
}

header {
    padding: 10px 20px;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 1);

}

.imagelogo {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    right: -10px;
    top: -1px;

}

header .logo {
    position: relative;
    right: 25rem;
    color: darkgreen;
    padding-left: 5px;
    font-size: 25px;

}




.navbar span {

    color: black;

}

.navbar a {

    font-size: 20px;
    padding-left: 15px;
    padding: 0 1.5rem;

}

#iconperson {
    font-size: 20px;
}

.navbar {
    display: flex;
}


.navbar a:hover {
    background-color: cyan;
}

.icons a:hover {

    color: yellowgreen;

}

header i {
    color: black;
}

section {
    padding: 2rem 9%;
}

.foo {

    width: 100%;

    position: static;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 2rem 9%;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);

}


.foo a {
    display: block;
    color: white;
    line-height: 2.5;
    font-size: 20px;

}

.foo a:hover {
    color: yellow;
}

.foo th {
    font-size: 30px;
}



#cont {
    color: #666;
}


#cont:before {
    content: ' \00A9';


}

.icon a {
    margin: 10px;
    display: inline;

}

table {
    font-family: arial, sans-serif;

    width: 50%;
}

th,
td {
    text-align: left;
    padding: 5px;
}


.side{
    letter-spacing: 7px;
    text-shadow: 5px;
    color: fff;
    margin-top: 4cm;
    margin-bottom: 1cm;
    background-color: rgb(50, 47, 62);
    padding: 10px;
    width: 35%;
    border-radius: 20px;
    
}
.frist{
    margin: 30px;
    background-color: rgb(50, 47, 62);
    width: 15%;
    padding: 10px;


}
section{
    background-color: rgb(50, 47, 62);
    height: 400px;
    width: 400px;
    margin: 200px auto 0;
    position: relative;
    transition: all .5s;
    display: inline-block;
    padding: 10 auto 0;
    text-align: center;
    margin: 70px 50px;
    box-shadow: 0 .5rem .6rem rgb(0, 0, 0, 1);
}
section:hover{
    height: 450px;
    opacity: .8;
}
img{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 50px;
    top: -20px;
    transition: all .5s;

}
 section:hover img{
    top: -100px;
    border-radius: 50%;
    transform: rotateX(360deg);

} 
.letter{
    position: absolute;
    left: 15px;
    bottom: 3px;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: all 1s;


}
section:hover .letter{
    opacity: 1;

}
.second{
    margin: 30px;
    background-color: rgb(50, 47, 62);
    width: 20%;
    padding: 10px;

}
video{
    width: 50%;
    height: 50%;
    margin: 30px;
}
