

.spinner{
  height: 100%;
  width: 100%;
  background:#2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
 margin-top: 400px;
 
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color:white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}



section{
  padding: 2rem 9%;
 
}

input[type=text] {
    width: 50rem;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=email]{
  width: 50rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  input[type=password]{
      width: 50rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  }
  
  #sub{
    
    width: 100px;
    background-color: #4caf50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    margin-left: 150px;
  }
  
  input[type=reset]{
  
    width: 100px;
    background-color: #4caf50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    margin-left: 50px;
  
  }
  
  input[type=reset]:hover{
  
    background-color: #45a049;
  
  }
  
  
  #sub:hover {
    background-color: #45a049;
  }
  input[type=radio]{
    margin: 12px 0;
  }
  
  
  
  .for { 
    padding: 20px;
    display: flex;
    align-items: center ;
    min-height: 100vh;
    background:url(../images2/image9.png);
    background-repeat:no-repeat ;
    background-size:cover ;
    background-position:center;
  }  