* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

header {
    height: 5.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 1);

}

.dark .cont a:hover {
    color: white;
}

.dark .address {
    background-color: white;
    color: black;
}


.dark .topc pre {

    color: white;

    I
}

.dark {

    background-color: black;
    color: white;

}

.dark footer {

    background-color: gray;
}

.dark .foo a {
    color: white;
}

.imagelogo {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    right: -10px;

}

header .logo{
    position: relative;
    right: 30rem;
      color:darkgreen;
      /* padding-left: 5px; */
      font-size: 25px;
     
    
    }

.navbar span {

    color: black;

}

.navbar a {

    font-size: 20px;
    padding-left: 15px;

}

.navbar {
    display: flex;
}


.navbar a:hover {
    background-color: cyan;
}


header i {
    color: black;
}

header {
    padding: 10px 20px;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 1);

}

.imagelogo {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    right: -10px;

}

header .logo {
    position: relative;
    right: 25rem;
    color: darkgreen;
    padding-left: 5px;
    font-size: 25px;

}



.navbar span {

    color: black;

}

.navbar a {

    font-size: 20px;
    padding-left: 15px;
    padding: 0 1.5rem;

}

#iconperson {
    font-size: 20px;
}

.navbar {
    display: flex;
}


.navbar a:hover {
    background-color: cyan;
}

.icons a:hover {

    color: yellowgreen;

}

header i {
    color: black;
}

section {
    padding: 2rem 9%;
}

.foo {

    width: 100%;

    position: static;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 2rem 9%;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);

}


.foo a {
    display: block;
    color: white;
    line-height: 2.5;
    font-size: 20px;

}

.foo a:hover {
    color: yellow;
}

.foo th {
    font-size: 30px;
}



#cont {
    color: #666;
}


#cont:before {
    content: ' \00A9';


}

.icon a {
    margin: 10px;
    display: inline;

}

table {
    font-family: arial, sans-serif;

    width: 50%;
}

th,
td {
    text-align: left;
    padding: 5px;
}
.bee{
    width: 100%;
    height: 25%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h2{
    margin:30px 50px;

}
.types{
    margin: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    background-color: #fff8e1;
    padding: 10px;
    border-radius: 40px;

}
ul{
    margin: 40px;
}

.side {
    letter-spacing: 7px;
    color: orange;
    margin-top: -23cm;
    margin-bottom: 1cm;
    margin-left: .5cm;
    padding: 10px;



}

h3 {
    margin-bottom: 18cm;
    text-align: left;
    color: rgb(76, 53, 24);
}

.sss {
    background-color: darkgreen;
    color: white;
    width: 40%;
    padding: 10px;
    text-align: center;
    margin: 0 auto 5px;
}

.img {
    border: 2px solid black;
    width: 30%;
    
    margin: 50px 10px;
    display: inline-block;
    height: 14cm;
    padding: 10 auto 0;
    box-shadow: 30px;
    background-color: rgb(166, 203, 162);
    border-radius: 20px;
}

.image {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 10cm;
}