
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

 

}
header{
    padding: 10px 20px;
    height: 5.5rem;
    position: fixed;
    top:0;left: 0;right: 0;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:0 .5rem 1rem rgb(0,0,0,1);
    
  }
  
  .imagelogo{
  margin: 0;
  padding: 0;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  right: -10px;
  
  }
  
  header .logo{
  position: relative;
  right: 27.5rem;
    color:darkgreen;
    padding-left: 5px;
    font-size: 25px;
  
  }
  
  
  
  .navbar span {
  
    color:black;
  
  }
  
  .navbar a{
  
    font-size:20px;
    padding: 10px;
    padding-left: 20px;
    
  }
  
  #iconperson{
    font-size: 20px;
  }
  
  .navbar{
  display: flex;
  }
  
  
  .navbar a:hover{
    background-color:cyan;
  }
  
  .icons a:hover{
  
   color:yellowgreen;
  
  }
  header i{
  color:black;
  }

  .dark{
    color: white;
  }

  .dark div{
    background-color: black;
  }
  
  .dark footer{
    background-color:gray;
  }
  
  .dark .foo a{
    color:white;
  }
  
  .dark .foo th{
    color: black;
  }
  .dark .slider{
    background-color: white;
  }
  .dark #cont{
    color: white;
    background-color: grey;
  } 
  
  .dark .icon{
    background-color: grey;
  }



  .foo{
   
    width: 100%;
   
    position: static;
  color: white;
  top:0;left: 0;right: 0;
  background:black;
  padding: 2rem 9%;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
  
}


.foo a{
    display: block;
    color: white;
    line-height: 2.5;
    font-size: 20px;

}
.foo a:hover{
    color: yellow;
}
.foo th{
    font-size: 30px;
}



#cont{
  color: #666;
}


#cont:before{
  content: ' \00A9';
  

}
.icon a{
   margin: 10px;
   display: inline;
  
}

table {
font-family: arial, sans-serif;

width: 50%;
}
th ,td{
text-align: left;
padding: 5px;
}

img
{
    float: right;
    border-radius: 350px;
    margin: 12px;
}
.clearfix{
    overflow: auto;
    
    background-color: rgb(210, 223, 223);
    border-radius: 35px;
}
p{
    margin: 20px;
    
}
#ga{
    margin-top: 100px;
}
